body
{
    background-image:url(https://newevolutiondesigns.com/images/freebies/space-wallpaper-5.jpg);
    background-size:100%;
}

.container {
    text-align:center;
    color:red;
}

.contenedor {
    text-align:center;
}